
<nav class="nav-container">
    <ul class="menu">
        <li>
            <a routerLink="/milk-collection" routerLinkActive="active">
                🥛 Recolección de Leche
            </a>
            <ul class="submenu">
                <li>
                    <a routerLink="/milk-collection" routerLinkActive="active">
                        Recolección del día
                    </a>
                </li>
                <li>
                    <a routerLink="/milk-collection-form" routerLinkActive="active">
                        Planilla de recolección
                    </a>
                </li>
                <!-- Puedes agregar más opciones aquí -->
            </ul>
        </li>
        
        <li>
            <a routerLink="/person-management" routerLinkActive="active">
                👤 Gestion de Personas
            </a>
            <ul class="submenu">
                <li>
                    <a routerLink="/person-management" routerLinkActive="active">
                        Gestion de Personas
                    </a>
                </li>
                <li>
                    <a routerLink="/person-register" routerLinkActive="active">
                        Registrar Persona
                    </a>
                </li>
                <!-- Puedes agregar más opciones aquí -->
            </ul>
        </li>
        <li>
            <a routerLink="/milk-supplier" routerLinkActive="active">
                🧑‍🌾 Proveedores de Leche
            </a>
        </li>
        <li>
            <a routerLink="/financial-management" routerLinkActive="active">
                💰 Gestión Financiera
            </a>
        </li>
    </ul>
</nav>
<hr>
<router-outlet></router-outlet>