
<nav class="nav-container">
    <ul class="menu">
        <li>
            <a routerLink="/milk-collection" routerLinkActive="active">
                🥛 Recolección de Leche
            </a>
        </li>
        <li>
            <a routerLink="/person-register" routerLinkActive="active">
                👤 Registrar Persona
            </a>
        </li>
        <li>
            <a routerLink="/milk-supplier" routerLinkActive="active">
                🧑‍🌾 Proveedores de Leche
            </a>
        </li>
    </ul>
</nav>
<hr>
<router-outlet></router-outlet>